<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" href="./styles/styles.css"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    <!--<script src="main.js"></script>-->
    <style>
        *{
            box-sizing: border-box;
        }

        footer{
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }

        header{
            background-color: #666;
            padding: 10px;
            text-align: center;
            font-size: 35px;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>NODEMAILER</h1>
    </header>
    <h2>Enviando Correos con Nodemailer</h2>
    <h3>para: <%= from %></h3>
    <h3>para: <%= to %></h3>

    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>

